# To turn off debug mode, set the variable value to 0.
DEBUG=1

# Directory with student solution file (platform-specific).
DIR_SUBMISSION=/shared/submission/

# Directory with student's solution file in debug mode
# Important! An absolute path must be specified.
DEBUG_DIR_SUBMISSION=~/Desktop/PROJECTS/exgrex-py/example/shared/submission

# Directory with tests (the relative path from the directory with the sub grader
# is indicated)
TESTS_DIR=tests/

# The name of the file with the success score
SCORE_LOGFILE=score.log

# The name of the log file is a comment to the test results. Typically used to display
# error tracebacks, describe test cases, hints, statistics, etc.
FEEDBACK_LOGFILE=feedback.log

# Command to run grader tests
TEST_RUN_COMMAND="python3 execute.py"

# Settings for version 2
# path to json file in which the test report is saved (platform-specific).
PATH_TO_REPORT_FILE=/shared/feedback.json

# path to json file in which the test report is saved in debug mode.
DEBUG_PATH_TO_REPORT_FILE=~/Desktop/PROJECTS/exgrex-py/example/grader/ABCD/feedback.json